<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/viewpost.css" />
  </head>
  <body>
    <% function timeSince(date) { %>
      <% const seconds = Math.floor((new Date() - new Date(date)) / 1000); %>
      <% let interval = Math.floor(seconds / 31536000); %>
    
      <% if (interval >= 1) { %>
        <% return interval + " year" + (interval === 1 ? "" : "s"); %>
      <% } %>
      <% interval = Math.floor(seconds / 2592000); %>
      <% if (interval >= 1) { %>
        <% return interval + " month" + (interval === 1 ? "" : "s"); %>
      <% } %>
      <% interval = Math.floor(seconds / 86400); %>
      <% if (interval >= 1) { %>
        <% return interval + " day" + (interval === 1 ? "" : "s"); %>
      <% } %>
      <% interval = Math.floor(seconds / 3600); %>
      <% if (interval >= 1) { %>
        <% return interval + " hour" + (interval === 1 ? "" : "s"); %>
      <% } %>
      <% interval = Math.floor(seconds / 60); %>
      <% if (interval >= 1) { %>
        <% return interval + " minute" + (interval === 1 ? "" : "s"); %>
      <% } %>
      <% return Math.floor(seconds) + " second" + (Math.floor(seconds) === 1 ? "" : "s"); %>
    <% } %>
    <div class="cont">
      <div class="textLogo">
        <img src="/images/instagram-text-image.png" alt="" />
      </div>
      <div class="followersPosts">
        <div class="posts">
          <div class="byFollower">
            <img src="/images/uploads/<%= post.user.profilePicture %>" alt="">
            <p class="text-sm font-semibold"><%= post.user.username %></p>
            <!-- <h1 class="text-gray-500">.</h1> -->
            <!-- <p class="text-sm text-gray-500">2h</p> -->
          </div>
          <div class="postOfFollower">
            <img
              src="/images/uploads/<%= post.image %>"
              alt=""
            />
          </div>
          <div class="insightsOfFollower">
            <p><i class="fa-regular fa-heart cursor-pointer"></i></p>
            <p class="text-sm flex"><%= post.likes.length %> likes</p>
          </div>
          <div class="descriptionOfFollower">
            <p class="text-sm font-semibold"><a href=""><%= post.user.username %></a></p>
            <p class="text-sm"><%= post.caption %></p>
          </div>
          <div class="dateOfUploadedPost">
            <p class="text-xs text-gray-500"><%= timeSince(post.createdAt) %> ago</p>
          </div>
        </div>
      </div>
    </div>
    <% include ./nav.ejs %>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="/javascripts/home.js"></script> -->
  </body>
</html>
